* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
    display: block;
}

:root {
    --color-main-title: #4676A9;
    --color-other-title: #CB731C;
    --footer-bg-color: #22466C;
    --footer-txt-color: #fff;

}
body {
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;

}
h1 {
    color: var(--color-main-title);
    text-align: center;
    font-size: 7.5rem;
    line-height: 1.1;
}
h2 {
    color: var(--color-other-title);
}
h3 {
    font-size: 1.75rem;
}
h1, h2, h3 {
    margin-block: 1.3rem;
}
footer {
    background: var(--footer-bg-color);
    color: var(--footer-txt-color);
}
section {
    margin-block: 5rem;
}